venv/
telepyrobot/config.py
__pycache__
telepyrobot/__pycache__
pyrogrambot/plugins/__pycache__
*.session
videoplayback
videoplayback.temp
telepyrobot/cache/*
telepyrobot/downloads/*
telepyrobot/session/*
unknown_errors.txt
eval.text
.vscode/